<strong> Hello, {{ deliveryman }}</strong>
<p>There is a new delivery registered and ready to go. Check below for more details:</p>
<p>
  <strong>Recipient:</strong> <br />
  <strong>Name:</strong> {{ recipientName }} <br />
  <strong>Address:</strong> {{ recipientStreet }}, {{ recipientStreetNumber }}, {{ recipientState }},
  {{ recipientCity }}- {{ recipientZipcode }} <br />
  <strong>Product:</strong> {{ product }} <br />
</p>
